:root{
    --melon: #FFBAA4;
    --amarillo:#FFE441;
    --verdesito:#7AC3B2;
    --melon: #FFBAA4;
    --amarillo:#FFE441;
    --celestito: #A7E1E9;
    --verdesito:#7AC3B2;
    --black: #000000;
    --white: #FFFFFF;
    --white-forms: #FEF6F6;
    --gray: #797575;
    --width-buttons: 246px;
    --height-buttons: 41px;
    --font-title: 70px;
    --font-size-button: 24px;
    --font-size-pequeña: 16px;
    --width-paw: 25%;

}
* {
margin: 0;
padding: 0;
}

body { 
    border-radius: 40px ;
}
.homeDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    background-color: var(--melon);
    padding-bottom: 30%;
    border-radius:20px ;
   padding-top: 20%;
}
.footprint{
    width: 25%;
    margin-left: 65%;
}
.title {
    font-family:'Baloo Thambi';
    font-size: 70px;
    font-weight: 400;
    color: white;
}
.animals {
    width: 100%;

}

.buttonRegister{
    border-radius: 50px;
    font-family:'Baloo Thambi';
    font-size: 17px;
    width: 200px;
    height: 30px;
    background-color: #A7E1E9;
    border-color: inherit;
}
.buttonLogin{
    border-radius: 50px;
        font-family: 'Baloo Thambi';
        font-size: var(--font-size-button);
        width: var(--width-buttons);
        height: var(--height-buttons);
        background-color: #FFE441;
        border-color: inherit;
}
.footprintDiv{
    display: flex;
    justify-content: flex-end;
}
.logoDivViewTwo{
    display: flex;
    flex-direction: column;

}
.loginDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--amarillo);
    border-radius: 20px;
    padding-bottom: 30%;
}
.dataLoginDiv{
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: space-evenly;
 width: 291px;
 height: 454px;
 background-color: var(--white-forms);
 border-radius: 20px;
}
.mailViewTwo{
    font-size: var(--font-size-button);
    font-family: 'Baloo Thambi';
    color:var(--celestito);
    border: none;
    border-bottom: 4px solid #797575;
    width: 245px;
    background-color: var(--white-forms);

}
.mailViewTwo::placeholder{
    color: var(--celestito);
}
.passwordViewTwo{
    font-size: var(--font-size-button);
    font-family: 'Baloo Thambi';
    color:var(--gray);
    border: none;
    border-bottom: 4px solid #797575;
    width: 245px;
    background-color: var(--white-forms);
}
.passwordViewTwo::placeholder{
    color:var(--celestito);
}
.buttonLoginViewTwo{
    border-radius: 50px;
    font-family:'Baloo Thambi';
    font-size:var(--font-size-button);
    width: var(--width-buttons);
    height:var(--height-buttons);
    background-color: #FFE441;
    border-color: inherit;
}
.forgetPaswordTwo{
    font-family:'Baloo Thambi';
    font-size: var(--font-size-pequeña);
    color: var(--gray);

}
.btnHomeViewTwo{
    border-radius: 50px;
    font-family:'Baloo Thambi';
    font-size: var(--font-size-button);
    width:var(--width-buttons);
    height:var(--height-buttons);
    background-color: var(--celestito);
    border-color: inherit;
}

.registerDiv{
 display: flex;
 flex-direction: column;
 justify-items: center;
 align-items: center;
 background-color: #7AC3B2;
 border-radius: 40px;
padding-bottom: 30%;
}
.logoDivViewThree {
    display: flex;
    font-family: 'Baloo Thambi';
    font-size: 70px;
    font-weight: 400;
    color: white;
}
.footprint{
    width:18%;
    margin-left: 65%;
    justify-content:right;
    transform: rotate(45deg);
}
.titleViewThree{
    justify-items: end;
}
.dataRegisterDiv{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #FEF6F6;
    border-radius:30px;
    height: 454px;
    width: 250px;
}
#formR, .formLogin{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 300px;
}

.name::placeholder{
    color: #A7E1E9;
    font-size: 24px;
   padding-left: 10px;
}
.name{
    background-color:#FEF6F6 ;
    border-top: #FEF6F6 ;
    border-left: #FEF6F6;
    border-right: #FEF6F6;
    border-width:medium;
    font-family:'Baloo Thambi';
    outline: none;
    margin-left: 15px;
    margin-right: 15px;
    
}
.mail::placeholder{
    color:#A7E1E9;
    font-size: 24px;
    padding-left: 10px;
}
.mail{
    background-color: #FEF6F6;
    border-top: #FEF6F6;
    border-left: #FEF6F6;
    border-right: #FEF6F6;
    border-width: medium;
    font-family: 'Baloo Thambi';
    outline: none;
    margin-left: 15px;
    margin-right: 15px;
    
}
.password::placeholder{
    color: #A7E1E9;
    font-size: 24px;
    padding-left: 10px;
}
.password{
    background-color: #FEF6F6;
    border-top: #FEF6F6;
    border-left: #FEF6F6;
    border-right: #FEF6F6;
    border-width: medium;
    font-family: 'Baloo Thambi';
    outline: none;
    margin-left: 15px;
    margin-right: 15px;
}
.buttonRegister{
    border-radius: 50px;
        font-family: 'Baloo Thambi';
        font-size: 24px;
        width: 246px;
        height: 41px;
        background-color: #A7E1E9;
        border-color: inherit;
}

.buttonHome{
    border-radius: 50px;
        font-family: 'Baloo Thambi';
        font-size: 24px;
        width: 246px;
        height: 41px;
        background-color: #FFE441;
        border-color: inherit;

}

.muroDiv{
    background-color: var(--melon);
    display: grid;
}

.muroPostsDiv {
    grid-template-rows: minmax(100px, auto);
    display: grid;
    gap: 1em;
    justify-items: inherit;
    padding: 20px;
}

.iconsPostDiv {
    display: grid;
    grid-template-columns: 10% 10%;
    justify-content: end;
}


