:root{
    --melon: #FFBAA4;
    --amarillo:#FFE441;
    --verdesito:#7AC3B2;
    --melon: #FFBAA4;
    --amarillo:#FFE441;
    --celestito: #A7E1E9;
    --verdesito:#7AC3B2;
    --black: #000000;
    --white: #FFFFFF;
    --white-forms: #FEF6F6;
    --gray: #797575;
    --width-buttons: 246px;
    --height-buttons: 41px;
    --font-title: 70px;
    --font-size-button: 24px;
    --font-size-pequeña: 16px;
    --width-paw: 25%;

}
* {
margin: 0;
padding: 0;
}

body {
    border-radius: 40px ;
}
.homeDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    background-color: var(--melon);
    padding-bottom: 30%;
    border-radius:20px ;
}
.footprint{
    width: 25%;
    margin-left: 65%;
}
.title {
    font-family:'Baloo Thambi';
    font-size: 70px;
    font-weight: 400;
    color: white;
}
.animals {
    width: 100%;

}

.buttonRegister{
    border-radius: 50px;
    font-family:'Baloo Thambi';
    font-size: 17px;
    width: 200px;
    height: 30px;
    background-color: #A7E1E9;
    border-color: inherit;
}
.buttonLogin{
    border-radius: 50px;
    font-family:'Baloo Thambi';
    font-size: 17px;
    width: 200px;
    height: 30px;
    background-color: #FFE441;
    border-color: inherit;
}
.footprintDiv{
    display: flex;
    justify-content: flex-end;
}
.logoDivViewTwo{
    display: flex;
    flex-direction: column;

}
.loginDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--amarillo);
    border-radius: 20px;
    padding-bottom: 30%;
}
.dataLoginDiv{
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: space-evenly;
 width: 291px;
 height: 454px;
 background-color: var(--white-forms);
 border-radius: 20px;
}
.mailViewTwo{
    font-size: var(--font-size-button);
    font-family: 'Baloo Thambi';
    color:var(--celestito);
    border: none;
    border-bottom: 4px solid #797575;
    width: 245px;
    background-color: var(--white-forms);

}
.mailViewTwo::placeholder{
    color: var(--celestito);
}
.passwordViewTwo{
    font-size: var(--font-size-button);
    font-family: 'Baloo Thambi';
    color:var(--gray);
    border: none;
    border-bottom: 4px solid #797575;
    width: 245px;
    background-color: var(--white-forms);
}
.passwordViewTwo::placeholder{
    color:var(--celestito);
}
.buttonLoginViewTwo{
    border-radius: 50px;
    font-family:'Baloo Thambi';
    font-size:var(--font-size-button);
    width: var(--width-buttons);
    height:var(--height-buttons);
    background-color: #FFE441;
    border-color: inherit;
}
.forgetPaswordTwo{
    font-family:'Baloo Thambi';
    font-size: var(--font-size-pequeña);
    color: var(--gray);

}
.btnHomeViewTwo{
    border-radius: 50px;
    font-family:'Baloo Thambi';
    font-size: var(--font-size-button);
    width:var(--width-buttons);
    height:var(--height-buttons);
    background-color: var(--celestito);
    border-color: inherit;
}
    






